.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #202020;
    color: #f0f0f0;
}


.container .logo{
    padding-left: 32px;
    font-weight: 600;
    font-size: 24px;
    padding-top: 8px;
    font-family: cursive;
}

.container .item{
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    margin-right: 24px;
}

.container .item div{
    padding-right: 24px;
    cursor: pointer;
    padding: 12px 24px;
    font-weight: 600;
}

.container .item div:hover{
    background-color: #ff475b;
    border-radius: 8px;
}